html, body, #root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    text-align: center;
    position: relative;
}

.searchContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.autoCompleteContainer {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}